<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>
            Playground
        </h1>

        <ul>
           <% for(let i =1 ; i< 9 ; i++){%>

            <li>
                <%= i%>
            </li>

           <%}%>

        </ul>

           <% if(true){%>

            <h1> Its true :)</h1>
        <% }else{%>

            <p> Its false :(</p>

        <% }%>

    </body>
</html>